[Unit]
Description=PSPi gamepad and battery monitor
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=simple
WorkingDirectory=__DRIVERS_BASE__
ExecStartPre=/bin/sh -c 'until [ -e /dev/i2c-1 ]; do sleep 1; done'
ExecStart=__DRIVERS_BASE__/boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
