[Unit]
Description=PSPi gamepad and battery monitor
After=sys-subsystem-net-devices-wlan0.device
Wants=sys-subsystem-net-devices-wlan0.device

[Service]
Type=simple
WorkingDirectory=__DRIVERS_BASE__
ExecStart=__DRIVERS_BASE__/boot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
