[Unit]
Description=PSPi Gamepad Service
After=main_32.service

[Service]
ExecStart=gamepad_32
Restart=on-failure

[Install]
WantedBy=multi-user.target
