[Unit]
Description=PSPi Gamepad Service
After=main_64.service

[Service]
ExecStart=gamepad_64
Restart=on-failure

[Install]
WantedBy=multi-user.target
