[Unit]
Description=PSPi Main Service
After=network.target

[Service]
ExecStart=/usr/local/bin/start_main.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
