[Unit]
Description=PSPi Mouse Service
After=main.service

[Service]
ExecStart=/usr/local/bin/start_mouse.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
