[Unit]
Description=PSPi On Screen Display Service
After=network.target

[Service]
ExecStart=/usr/local/bin/start_osd.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
