[Unit]
Description=Manage Retropie Installation
Wants=network-online.target
After=network-online.target default.target

[Service]
Type=oneshot
User=pi
ExecStart=/usr/bin/sudo /usr/local/bin/install-retropie.sh
StandardOutput=journal+console
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target