[Unit]
Description=Controller Service for PSPi

[Service]
Type=oneshot
ExecStart=bash /boot/PSPi/boot.sh
ExecStop=bash /boot/PSPi/shutdown.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
